<p style="color: green"><%= notice %></p>

<%= render @noticium %>


<div>
  <%= link_to "Regresar a noticias" ,noticia_path %>
    <% if user_signed_in? %>
      <% if current_user.id==@noticium.user_id %>
        <%= link_to "Editar Noticia" , edit_noticium_path(@noticium) %> |
        <%= button_to "Eliminar Noticia" , @noticium, method: :delete %>
    <% end %>
  <% end %>
</div>